/* Custom Styling for Course Home Page */

/* Font for Headings */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i')

/* Font for Body Text */

@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i');

body    {
    width: 98%;
    margin: 0 auto;
    font-family: 'Alegreya', 'Times', serif;
    font-size: 18px;
    line-height: 24px;
}

h1, h2, h3,
h4, h5, h6  {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    font-weight: 600;
}

.panel {
    border: 1.5px dotted #808080;
}

p {
    font-family: 'Alegreya', 'Times', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.panel-primary  {
    background: rgb(255, 255, 255);   /* White */
}

.panel-priamry > .panel-heading {
    border-bottom: 2px dotted #c0c0c0;
    background-color: rgb(182, 225, 252);   /* LightSkyBlue 85% */
}


.well {
    background-color: rgb(9, 139, 220); /* LightSkyBlue 45% */
}

.well h1,
.well h2,
.well h3    {
    color: #ffffff; /* White */
}

.well small {
    color: rgb(255, 255, 0)    /* Yellow 50% */
}
