/* Custom Styling for Homework */

/* Typeface for Headings */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i');

/* Typeface for Body Text */

@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i');

body {
    width: 98%;
    margin: 0 auto;
    font-family: 'Alegreya', 'Times', serif;
    font-size: 18px;
    line-height: 24px;
}

h1, h2, h3,
h4, h5, h6  {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight: 600;
}