/* Styling for LocalLandscapes App */

/* Typeface for Headings and Buttons */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i');

/* Typeface for Body Text */

@import url('https://fonts.googleapis.com/css?family=Spectral:400,400i,600,600i');

body {
  background-color: #f2f2f2;
  font-family: 'Spectral', 'Times', serif;
}

h1, h2, h3,
h4, h5, h6  {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

h1 {
  font-weight: 600;
}

h1 span {
  font-weight: normal;
}

.images {
  display: flex;
  flex-wrap: wrap;
  height: 1000px;
}

.image {
  flex: 1 1 200px;
  margin: 3px;
  background-size: cover;
}

.image-results-view {
  display: none;
  margin-bottom: 35px;
}

.btn-primary {
  margin-top: 2em;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

#getPhotos {
  display: none;
}

#chooseCoords {
  display: none;
}

#loadAlert {
  display: none;
  margin-top: 2em;
  width: 150px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  border: solid 2px #888888;
  border-radius: 6px;
  box-shadow: 3px 6px 6px rgb(204, 204, 255);  /* Shadow Color Blue 90% (10%) */
  background-color: rgb(77, 77, 255);             /* Blue 65% (35%) */
}

#loadAlert p {
  color: #ffffff;
  font-weight: bold;
}
